@model IEnumerable<Assessment.Models.PremierLeagueFixture>

@{
    ViewBag.Title = "PremierLeagues";
}

<h2>PremierLeagues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stadium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stadium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameDate)
        </td>
        <td>
            @Html.ActionLink("NotBottom5EasyGames", "GetNotBottom5EasyGames", new { id = item.ID }) |
            @Html.ActionLink("Bottom5EasyGames", "GetBottom5EasyGames", new { id = item.ID })
        </td>
    </tr>
}

</table>
